<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="bigma7ax0514_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="Joint_11">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_11']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_12">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_12']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_13">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_13']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_14">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_14']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_21">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_21']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_22">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_22']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="Joint_23">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['Joint_23']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
